.dentist-container{
  display: flex;
  padding: 40px 40px 40px 0px;
  border-bottom: 1px solid grey;
}

.dentist-container .dentist-imgbox {
  width: 680px;
  height: 220px;
  border-radius: 8px;
  margin: 0px 40px 40px 0px;
  border: 1px solid black;
  overflow: hidden;

}

.dentist-container .dentist-imgbox img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

/*wrap text?*/
@media only screen and (max-width: 960px) {
  .dentist-container .box{
    
    float: left;
  }
}
