@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin:0;
  padding: 0;
}

ul, ol {
  list-style-type: disc; /* or desired type */
  margin: 0px; /* or desired margin */
  padding-left: 32px; /* or desired padding */
}

:root {
  font-family: System-ui, Helvetica, Arial, sans-serif;

  --pink: #E6A192;
  --primary-red: #EE3224;
  --dark-red: #720000;
  --accent: #53B9C9;
  --grey: #E5E7EB;
  --light-grey: lightgrey;
  --box-shadow: 3px 3px 5px  rgb(0, 0, 0, 0.1 );
}

.wrapper{
  margin: 1rem 4rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p, li{
  font-size: medium;
}

h1, h2, h3, h4, h5, p {
  margin-bottom: 1rem;
}

/*btn*/
.btn {
  display: flex;
  margin-right: 8px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 1em;
height:45px;
width:180px;
justify-content:center;
align-items:center;

}

.btn:hover {
  cursor: pointer;
  opacity: 0.75;
  text-decoration: none;
}

/*when the button is clicked :active*/
.btn:active {
  margin-top: 24px;
  margin-bottom: 16px;
  box-shadow: 0px 0px; /*removes box shadow*/
  background-color: #C0D6DF;
  color: #ffffff; /*font color*/
}

/*secondary btn*/
.secondary-btn {
 
  border: 2px solid black;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-weight: 500;
display:flex;
height:45px;
width:180px;
justify-content:center;
align-items:center;
   

} 
.secondary-btn:hover {
  cursor: pointer;
  opacity: 0.75;
  text-decoration: none;
}

.secondary-btn:active {
  margin-top: 24px;
  margin-bottom: 16px;
  box-shadow: 0px 0px; /*removes box shadow*/
  background-color: #C0D6DF;
  color: #ffffff; /*font color*/
}

.material-symbols-outlined{
  margin-right: 4px;
  align-items: center;
}


/*screen size lower than 1200px desktop nav disappears*/
@media screen and (max-width: 1100px) {
  
  #desktop-nav{
    display: none;
  }
  #hamburger-nav{
    display: flex;
  }
  
  .header_contact{
    display:none;
  }

}


/* home*/
.home-section{
padding:4rem 0rem;
  border-bottom: 1px solid lightgrey;
}

/*Hero*/
.hero-container{
  width:100%;
  height: 82vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  justify-content: center;
  padding: 0rem;
}

.hero-content{padding-right: 3rem;}

.hero_container h1{
  font-size: 3rem;
  margin-bottom: 2rem;
}

.hero_container p{
  margin-top: 1rem;
}

.heroimage-container{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 3rem;
  /* width: 800px;
  height:500px;
  overflow: hidden; 
  border-radius: 8px;
  margin-left: 4rem;
  border: 1px solid black;*/
}

.hero-image{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn a{
  color: white;
  text-decoration: none;
  display: flex;
}

.section-heading{
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  
}



/*Service */

.service-container{
  display: grid;
 
  grid-template-columns:1fr 1fr 1fr;
  gap: 1rem;
  padding-top: 1rem;
}



.service-card{
  text-align: center;
  padding: 20px;
  
 }

 .service-card .material-symbols-outlined{

  border: none;
  padding: 10px;
  margin-bottom: 1.4rem;
  border-radius: 0.5rem;
  background: linear-gradient(var(--primary-red), var(--dark-red));
  color: white;
  
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
  }

  .service-card h4{
    font-size: large;
    font-weight: 700;
  }

.service-card p{
  height: 5rem;
  margin-bottom: 1.5rem;
}

.card-link{
  font-weight: 500;
  text-decoration: underline;
}

.card-link:hover{
  text-decoration: underline;
  
}



/* Preferred provider Section */
#providers-section{
  display: flex;
  justify-content: center;
  align-items: center;
}



.provider-link{
  font-weight: 500;
  cursor: pointer;
}

.provider-link:hover{
  text-decoration: underline;
}

#providers-section .content {
  padding: 0 .625rem;
  margin-left: 5%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}



#providers-section .content p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  
}

#providers-section .images-container {
  display: flex;
  justify-content: center;
  align-items: center;
}




.smile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
}


/*cdbs about*/
.cdbs{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
  gap: 2rem;
  margin-top: 4rem;
  padding-bottom: 2rem;
}

.cdbs img {
  border-radius: 0.5rem;
  height: 500px;
}

.cdbs-text{
  padding: 0 .625rem;
  margin-right: 4%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cdbs-text ul{
  margin-bottom: 3rem;
}

.btn-container{
  display: flex;
  gap: .2rem;
}

.cdbs{
  border:none;
}

/*Footer*/



.footer{
  display: grid;
  gap: 1rem;
 
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
  background-color: #F6F5F5;
  padding: 2em;
  
}


.footer-box h2{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 14px;
}

.footer-box ul{
  padding:0;
}


.footer-box ul li{
  margin-bottom: 10px;
  font-size: 14px;
    color: #231F20;
  cursor: pointer;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
}

.footer-box ul li:hover{
  text-decoration: underline;
}

#footer-font{
  font-size: 14px;
  cursor: context-menu;
}

.copyright_box {
  background-color: #292F36;
  font-size: .75rem;
  display: flex;
  align-items: center;
  padding: 5px 2em;
  
}

.copyright {
  flex-grow: 1;
  color: white;
}

.contact-info-details span{
  margin-right: 8px;
}

.contact-info-details, .contact-info-details a{
  display: flex;
  margin-bottom: 0.6rem;
}


/*contact padding*/

.page-margin{
margin: 3rem 4rem;
}

.contact-container{
  display: grid;
  grid-template-columns:1fr 1fr 2fr;
  padding-bottom: 3rem;
}

.contact-info{
  padding: 1rem 0rem 0rem 0rem;
  margin-right: 4rem;
}

.contact-form{
  display:flex;
  flex-direction: column;
}

.inner-hrs-box{
  display: flex;
}

.days p, .time p{
  margin-bottom: 9px;
}

.days{
  margin-right: 1rem;
}

#acc{
  margin-top: 1rem;
}

#opening-hrs-box{
width:18rem;
}


@media (width <= 1000px) {

  .footer{
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: .75rem;
  }

  #quicklinks, #services{
    display: none;
  }
}

@media (width <= 700px) {

  .footer{
    grid-template-columns: 1fr 1fr;
    gap: .75rem;
  }
}

@media (width <= 600px) {
 .wrapper, .page-margin{
  margin: 10px 8px;
 }

  .contact-container{
    grid-template-columns: 1fr;
  }
  .contact-info{
    margin-bottom: 1.5rem;
  }

  .footer{
    grid-template-columns: 1fr;
  }

  #opening-hours{
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgrey ;
  }
}

/*form*/

form input, select, textarea{
  width:100%;
}

